<!DOCTYPE html>
<html>
<head>
  <title>View the books here</title>
  <style>
    .hidden{display:none;}
  </style>
</head>
<body>


<h3>Below is the information from the books that you can view</h3>
<!-- <h4>Filter the below list of books to find the one you're reading:</h4>
<input type="text" placeholder="Search..." /> -->

<section class="books">

  <h2>You Are Reading: <%= context.results[0].title %></h2>
  <h2>You have read: <%= context.pagesRead %> of <%= context.results[0].numberOfPages %> Pages</h2>

  <h3>All Done?</h3>

  <button class="start">Start Reading</button>

  <article class="finish hidden">
    <form method="POST" action="/book/read/<%= context.results[0]._id %>">
        I have read: <input type="number" name="pagesRead" placeholder="Enter number of pages read today"/> Pages
        <br />
        <input type="hidden" name="bookId" value="<%= context.results[0]._id %>" />
        <input type="hidden" name="userId" value="<%= context.userId %>" />
        <input type="Submit" value="Finish Reading" />
    </form>
  </article>

  <article class="startModal hidden">
    <h3>You Are Reading: <%= context.results[0].title %> </h3>
    <h3>You Have Been Reading For: </h3> INSERT TIMER HERE
    <button class="finish">Finish Reading</button>
  </article>
  
</section>

<h3>STEPS TO CREATE</h3>
<p>When book is clicked, open "Start Reading" modal.. </p>
<p>What page are you starting on? (Need to track)</p>
<p>How long are you going to read? Intervals, and unknown (Need to track daily)</p>
<p>Start Reading!</p>
<p>Submit modal.</p>
<p>Show a timer with the listed interval (if selected)</p>


  <script type="text/javascript">
    const startReadingButton = document.querySelector(".start");
    const finishReadingButton = document.querySelector("button.finish");

    startReadingButton.addEventListener("click", function(e){
      openModal(e)
    });

    finishReadingButton.addEventListener("click", function(e){
            console.log('close pushed')
      closeModal(e)
    })

    function openModal(evt){
      const startModal = document.querySelector(".startModal.hidden");
      startModal.classList.remove("hidden");
      startModal.classList.add("modalized");
    }

    function closeModal(evt){

      const finishModal = document.querySelector("button.finish");
      const openedModal = document.querySelector(".modalized");
      openedModal.classList.add("hidden");
      openedModal.classList.remove("modalized");
      finishModal.classList.remove("hidden");
      finishModal.classList.add("modalized");

    }

    //TODO: CLOSE MODAL FOR START AND OPEN FOR FINISH ON CLICK, WHICH HOUSES THE FORM

  </script>


</body>
</html>