<!DOCTYPE html>
<html>
<head>
  <title>View the books here</title>
</head>
<body>

<h2>Welcome <%= users %></h2>
<h3>Below is the information from the books that you can view</h3>
<!-- <h4>Filter the below list of books to find the one you're reading:</h4>
<input type="text" placeholder="Search..." /> -->

<section class="books">
    <% for (var i = 0; i < books.length; i++) { %>

      <article data-id=<%= books[i]._id %>>

        <h5>Title: <span><%= books[i].title %></span></h5>
        <h5>Author: <span><%= books[i].author %></span></h5>
        <h5>Genre: <span><%= books[i].genre %></span></h5>
        <h5>Number Of Pages: <span><%= books[i].numberOfPages %></span></h5>
        <h5>Brief Description: <span><%= books[i].description %></span></h5>
      
      </article> 

    <form method="POST" action="/book/<%= books[i]._id %>">
      <input type="submit" name="bookTitleStart" value="Start Reading <%= books[i].title %>" />
      <input type="hidden" name="userId" value="<%= users %>" />
    </form>

    <% } %> 
  
</section>

<h3>STEPS TO CREATE</h3>
<p>When book is clicked, open "Start Reading" modal.. </p>
<p>What page are you starting on? (Need to track)</p>
<p>How long are you going to read? Intervals, and unknown (Need to track daily)</p>
<p>Start Reading!</p>
<p>Submit modal.</p>
<p>Show a timer with the listed interval (if selected)</p>

</body>
</html>